{# src/Sdz/BlogBundle/Resources/views/AjouterPersonne/habite.html.twig #}

{% extends 'projetIHMgestionMairieBundle::base.html.twig' %}

{% block title%}{{'Gérer les déménagements'|trans}}{% endblock%}

{% block body%}

<div class="container">
  <div id="header" class="hero-unit">
    <h1>{{'Liste des habitations'|trans}}</h1>
    <p>{{'Déstiné aux mairie afin de gerer déménagements.'|trans}}</p>
  </div>

  <div class="row">
    <div id="menu" class="span3">
      <h3>{{'Accueil'|trans}}</h3>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{{path('gestion_mairie_homepage')}}">{{'Accueil du Site'|trans}}</a></li>
        <li><a href="{{path('gestion_mairie_ajouterHabite')}}">{{'Ajouter un em(dé)ménagement'|trans}}</a></li>

      </ul>
      
      
    </div>
    
    <div id="content" class="span8">
      
      {% for habite in habites %}
      <table>
	<tr><td style="width: 500px;">{{habite.personne }} <b>{{'habite au'|trans}} :</b> {{habite.logement}}</td><td></br></td><td></br>
	    <form action="{{ path('gestion_mairie_supprimerHabite', {'id': habite.id}) }}" method="post">
	      <input type="submit" value="{{'Déménagement'|trans}}" class="btn btn-danger" />
   	    </form>  
	    
	</td></tr>
      </table>
      {% endfor %}
    </div>
  </div>

{% endblock %}
