{# src/Sdz/BlogBundle/Resources/views/AjouterPersonne/habite.html.twig #}

{% extends 'projetIHMgestionMairieBundle::base.html.twig' %}

{% block title%}{{'Gérer les déménagements'|trans}}{% endblock%}
{% block css %}<link rel="stylesheet" href="{{ asset('bundles/projetihmgestionmairie/css/' ~ app.session.get('theme') ) }}" type="text/css" />
{% endblock %}


{% block header%}
    <h1>{{'Liste des habitations'|trans}}</h1>
    <p>{{'Déstiné aux mairie afin de gerer déménagements.'|trans}}</p>
{% endblock %}


{% block body%}

      
      {% for habite in habites %}
<table class="table table-striped">
	<tr><td style="width: 500px;">{{habite.personne }} <b>{{'habite au'|trans}} :</b> {{habite.logement}}</td><td></br></td><td></br>
	    <form action="{{ path('gestion_mairie_supprimerHabite', {'id': habite.id}) }}" method="post">
	      <input type="submit" value="{{'Déménagement'|trans}}" class="btn btn-danger" />
   	    </form>  
	    
	</td></tr>
      </table>
      {% endfor %}
    </div>
  </div>

{% endblock %}
