{# src/projetIHM/UserBundle/Resources/views/Security/login.html.twig #}

{% extends "projetIHMgestionMairieBundle::base.html.twig" %}

{% block body %}
<div class="container">
  <div id="header" class="hero-unit">
    <h1>{{"Gestion de l'état civil"|trans}}</h1>
    <p>{{'Déstiné aux mairie afin de gerer les personnes.'|trans}}</p>
  </div>

  <div class="row">
    <div id="menu" class="span3">
      <h3>{{'Accueil'|trans}}</h3>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{{path('gestion_mairie_homepage')}}">{{'Accueil du Site'|trans}}</a></li>
        <li><a href="{{path('gestion_mairie_personne')}}">{{'Gerer les personnes'|trans}}</a></li>
	<li><a href="{{path('gestion_mairie_mariage')}}">{{'Gérer les mariages'|trans}}</a></li>
	<li><a href="{{path('gestion_mairie_logement')}}">{{'Gérer les logements'|trans}}</a></li>
	<li><a href="{{path('gestion_mairie_habite')}}">{{'Gérer les em(dé)ménagements'|trans}}</a></li>
      </ul>
      
      
    </div>
    
    <div id="content" class="span8">

  {# S'il y a une erreur, on l'affiche dans un joli cadre #}
  {% if error %}
    <div class="alert alert-error">{{ error.message }}</div>
  {% endif %}

  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
  <form action="{{ path('login_check') }}" method="post">
    <label for="username">Login :</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="_password" />
    <br />
    <input type="submit" value="Connexion" />
  </form>





    </div>
  </div>






{% endblock %}
