{# src/Sdz/BlogBundle/Resources/views/AjouterPersonne/mariage.html.twig #}


{% extends 'projetIHMgestionMairieBundle::base.html.twig' %}

{% block title%}{{'Gérer les mariages'|trans}}{% endblock%}
{% block css %}<link rel="stylesheet" href="{{ asset('bundles/projetihmgestionmairie/css/' ~ app.session.get('theme') ) }}" type="text/css" />
{% endblock %}

{% block body%}


    <div class="container">
      <div id="header" class="hero-unit">
        <h1>{{'Liste des mariages'|trans}}</h1>
        <p>{{'Déstiné aux mairie afin de gerer les mariages'|trans}}.</p>
      </div>

      <div class="row">
        <div id="menu" class="span3">
          <h3>{{'Accueil'|trans}}</h3>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="{{path('gestion_mairie_homepage')}}">{{'Accueil du Site'|trans}}</a></li>
            <li><a href="{{path('gestion_mairie_ajouterMariage')}}">{{'Ajouter un mariage'|trans}}</a></li>
	  </ul>
          
          
        </div>
	
	<div id="content" class="span8">
         
          {% for mariage in mariages %}
	  <table>
	    <tr><td>{{mariage.personne1 }} <b>{{'marié avec'|trans}} </b> {{ mariage.personne2 }} </br>le {{ mariage.dateMariage|date('Y-m-d') }} à {{ mariage.villeMairie }}</td><td></br>
<td></br><form action="{{ path('gestion_mairie_supprimerMariage', {'id': mariage.id}) }}" method="POST">
		  <input type="submit" value="{{'Divorcer'|trans}}" class="btn btn-danger" />
   		</form>  
		
	    </td></tr>
	  </table>
	  {% endfor %}


        </div>
      </div>
  
      {% endblock %}
