{# src/Sdz/BlogBundle/Resources/views/AjouterPersonne/ajouterPersonne.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>AJOUTER PERSONNE</title>


    <link rel="stylesheet" href="{{ asset('bundles/projetihmgestionmairie/css/bootstrap/css/bootstrap.css') }}" type="text/css" />


  </head>

  <body>
    <div class="container">
      <div id="header" class="hero-unit">
        <h1>Ajouter une personne</h1>
        <p>Déstiné aux mairie afin de gerer les personnes.</p>
      </div>

      <div class="row">
        <div id="menu" class="span3">
          <h3>Accueil</h3>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="{{path('gestion_mairie_homepage')}}">Accueil du Site</a></li>
            <li><a href="{{path('gestion_mairie_personne')}}">Gerer les personnes</a></li>
          </ul>
          
          
        </div>
      
	<div id="content" class="span8">
          {% block body %}
	  <h3>Formulaire d'article</h3>
	  <div class="well">
	    <form method="GET" {{ form_enctype(form) }}>


<div>
  {# Génération du label. #}
  {{ form_label(form.nsecu, "Nsecu") }}

  {# Affichage des erreurs pour ce champ précis. #}
  {{ form_errors(form.nsecu) }}

  {# Génération de l'input. #}
  {{ form_widget(form.nsecu,{value : personne.nsecu} ) }}
<div>


<div>
  {# Génération du label. #}
  {{ form_label(form.nom, "Nom") }}

  {# Affichage des erreurs pour ce champ précis. #}
  {{ form_errors(form.nom) }}

  {# Génération de l'input. #}
  {{ form_widget(form.nom,{value : personne.nom} ) }}
</div>


<div>
  {# Génération du label. #}
  {{ form_label(form.prenom, "Prenom") }}

  {# Affichage des erreurs pour ce champ précis. #}
  {{ form_errors(form.prenom) }}

  {# Génération de l'input. #}
  {{ form_widget(form.prenom,{value : personne.prenom} ) }}
<div>


<div>
  {# Génération du label. #}
  {{ form_label(form.dateNai, "Date de Naissance") }}

  {# Affichage des erreurs pour ce champ précis. #}
  {{ form_errors(form.dateNai) }}

  {# Génération de l'input. #}
  {{ form_widget(form.dateNai,{value : personne.dateNai} ) }}
<div>


<div>
  {# Génération du label. #}
  {{ form_label(form.villeNai, "Ville de Naissance") }}

  {# Affichage des erreurs pour ce champ précis. #}
  {{ form_errors(form.villeNai) }}

  {# Génération de l'input. #}
  {{ form_widget(form.villeNai,{value : personne.villeNai} ) }}
<div>


<div>
  {# Génération du label. #}
  {{ form_label(form.sexe, "Sexe") }}

  {# Affichage des erreurs pour ce champ précis. #}
  {{ form_errors(form.sexe) }}

  {# Génération de l'input. #}
  {{ form_widget(form.sexe,{value : personne.sexe} ) }}
<div>




{# form_widget(form)#}

	      <input type="submit" class="btn btn-primary" />
	    </form>
	  </div>
          {% endblock %}
        </div>
      </div>

      <hr>

      <footer>
        <p>Univ'Nantes © 2014.</p>
      </footer>
    </div>

  </body>
</html>
