{# src/Sdz/BlogBundle/Resources/views/AjouterPersonne/ajouterPersonne.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>AJOUTER PERSONNE</title>


    <link rel="stylesheet" href="{{ asset('bundles/projetihmgestionmairie/css/bootstrap/css/bootstrap.css') }}" type="text/css" />



   <link rel="stylesheet" href="{{ asset('bundles/projetihmgestionmairie/css/stylesheet.css') }}" type="text/css" />



  </head>

  <body>
    <div class="container">
      <div id="header" class="hero-unit">
        <h1>Liste des personnes</h1>
        <p>Déstiné aux mairie afin de gerer les personnes.</p>
      </div>

      <div class="row">
        <div id="menu" class="span3">
          <h3>Accueil</h3>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="{{path('gestion_mairie_homepage')}}">Accueil du Site</a></li>
            <li><a href="{{path('gestion_mairie_ajouterPersonne')}}">Ajouter une personne</a></li>
	  </ul>
          
          
        </div>
      
	<div id="content" class="span8">
          {% block body %}
          {% for personne in personnes %}
	  <table>
	    <tr><td style="width: 500px;">{{personne.Nsecu }} - {{personne.nom }} {{ personne.prenom }} né le {{ personne.dateNai|date('Y-m-d') }} à {{ personne.villeNai }}</td><td></br><form action="{{ path('gestion_mairie_modifierPersonne', {'id': personne.id}) }}" method="post">
		    <input type="submit" value="modifier" class="btn btn-default" />
   		  </form></td><td></br><form action="{{ path('gestion_mairie_supprimerPersonne', {'id': personne.id}) }}" method="post">
		    <input type="submit" value="Supprimer" class="btn btn-danger" />
   		  </form>  
		  
</td></tr>
</table>
	  {% endfor %}

	  {% endblock %}
        </div>
      </div>

      <hr>

      <footer>
        <p>Univ'Nantes © 2014.</p>
      </footer>
    </div>

  </body>
</html>
