{# src/Sdz/BlogBundle/Resources/views/AjouterPersonne/ajouterLogement.html.twig #}


{% extends 'projetIHMgestionMairieBundle::base.html.twig' %}

{% block title%}Ajouter un logement{% endblock%}

{% block body%}

<div class="container">
  <div id="header" class="hero-unit">
    <h1>Ajouter un logement</h1>
    <p>Déstiné aux mairie afin de gerer les logements.</p>
  </div>

  <div class="row">
    <div id="menu" class="span3" >
      <h3>Accueil</h3>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{{path('gestion_mairie_homepage')}}">Accueil du Site</a></li>
        <li><a href="{{path('gestion_mairie_logement')}}">Gerer les logements</a></li>
        <li><a href="{{path('gestion_mairie_habite')}}">Gerer les em(dé)ménagements</a></li>
      </ul>
      
      
    </div>
    
    <div id="content" class="span8">
      
      <h3>Formulaire d'article</h3>
      <div class="well">
	<form method="post" {{ form_enctype(form) }}>
	  {{ form_widget(form) }}
	  <input type="submit" class="btn btn-primary" />
	</form>
      </div>
      
    </div>
  </div>

  <hr>

  <footer>
    <p>Univ'Nantes © 2014.</p>
  </footer>
</div>
{% endblock %}
