{# src/Sdz/BlogBundle/Resources/views/AjouterPersonne/logement.html.twig #}

{% extends 'projetIHMgestionMairieBundle::base.html.twig' %}

{% block title%}{{'Gérer les logements'|trans}}{% endblock%}
{% block css %}<link rel="stylesheet" href="{{ asset('bundles/projetihmgestionmairie/css/' ~ app.session.get('theme') ) }}" type="text/css" />
{% endblock %}



{% block header %}
    <h1>{{'Liste des logements'|trans}}</h1>
    <p>{{'Déstiné aux mairie afin de gerer les logements'|trans}}.</p>
{% endblock %}




{% block body%}
      
      {% for logement in logements %}
      <table class="table table-striped">
	<tr><td style="width: 500px;">{{logement.id }} - {{logement.numRue }} {{ logement.nomRue }} {{ logement.cp }} {{logement.ville}}</td><td></br><form action="{{ path('gestion_mairie_modifierLogement', {'id': logement.id}) }}" method="post">
	      <input type="submit" value="{{'modifier'|trans}}" class="btn btn-default" />
   	  </form></td><td></br><form action="{{ path('gestion_mairie_modifierLogement', {'id': logement.id}) }}" method="post">
	      <input type="submit" value="{{'Supprimer'|trans}}" class="btn btn-danger" />
   	    </form>  
	    
	</td></tr>
      </table>
      {% endfor %}


    </div>
  </div>
{% endblock %}
